@charset "utf-8";
/* CSS Document */

html, body {
  font-family: "Noto Sans JP", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #333333;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, table, th, td, a, img {
  margin: 0;
  padding: 0;
  zoom: 1;
  background-repeat: no-repeat;
}

body {
	font-size: 16px;
  background-color: #f1f1f1;
  overflow-x: hidden;
}

img {
  width: 100%;
  vertical-align: top;
}

/* ↓デモ01用↓ */
/* ヘッダー部分 */
.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
/*  padding: 0 20px;*/
}

/* スクロール後に背景を白に */
.top-header.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 任意で影を付ける */
}

.top-header__logo-inner {
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 175px;
  padding-left: 25px;
}

.top-header__menu-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 25px;
  color: #fff;
}

.menu {
  display: flex;
  gap: 20px;
}

.top-header.scrolled .menu {
  color: #0C2B4A;
}

.top-header__menu-inner ul {
}

.top-header__menu-inner li {
  list-style: none;
  margin-left: 20px;
}

.top-header__buttons {
  display: flex;
  gap: 10px;
}

/* ファーストビューだけボタンの色変更↓ */
.top-header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #0f2b49;
  font-weight: bold;
  font-size: 1em;
}

.top-header__menu-button:hover {
  background-color: #fff;
  border: #0f2b49 solid 2px;
  color: #0f2b49; 
  font-weight: bold;
}
/* ファーストビューだけボタンの色変更↑*/

/* ファーストビューすぎたボタンの色変更↓ */
.top-header.scrolled .top-header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #0f2b49;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
}

.top-header.scrolled .top-header__menu-button:hover {
  background-color: #fff;
  border: #0f2b49 solid 2px;
  color: #0f2b49; 
  font-weight: bold;
}
/* ファーストビューすぎたボタンの色変更↑*/


.top-header__menu-button01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #dba11c;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
}

.top-header__menu-button01:hover {
  background-color: #fff;
  border: #dba11c solid 2px;
  color: #dba11c; 
  font-weight: bold;
}
/* ↑デモ01用↑ */

/* サイドメニュー全体 */
.side-menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0 0 4px;
  border: 1px solid #d3d3d3;
  overflow: hidden;
}

/* サイドメニュー hoverで li 横幅拡張 */
.side-menu:hover .menu-item {
  width: 180px;
}

/* サイドメニュー hoverでラベル表示 */
.side-menu:hover .menu-item .label {
  opacity: 1;
  transform: translateX(20px);
  will-change: transform, opacity;
  backface-visibility: hidden;
}

/* li 初期状態 */
.menu-item {
  display: flex;
  align-items: center;
  width: 35px;           /* アイコン幅固定 */
  height: 50px;
  background: #fff;
  color: #03122D;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.5s ease, background 0.3s ease; /* 横幅の滑らか変化 */
  padding-left: 15px;
}

.menu-item_line {
  border-bottom: 2px solid #D3D3D3;
}
/* li hover背景色 */
.menu-item:hover {
  background: #F1F1F1;
}

/* アイコン */
.menu-item .icon img {
  display: block;
/*  margin: 0 10px;*/
  width: 24px;
  height: 24px;
  fill: currentColor;
  text-align: center;
}

/* ラベル 初期は右に隠す */
.menu-item .label {
  opacity: 0;
  transform: translateX(20px);
  white-space: nowrap;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
a[href^="tel:"] {
    pointer-events: none;
    cursor: default;
    color: #03122D !important;
    text-decoration: none !important;
} 

/* ================= スマホ版 ================= */
@media (max-width: 768px) {
/* サイドメニュー全体 */
  .side-menu {
    top: auto;           /* 縦中央解除 */
    bottom: 0;        /* ページ下固定 */
    right: 0;         /* 少し内側に寄せる */
    transform: none;
/*    display: flex;*/
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: visible;
  }
  
  .side-menu ul {
    display: flex;
    flex-direction: row;  /* 横方向に並べる */
    position: relative;
    bottom: auto;
    right: auto;
    transform: none;
    opacity: 1;           /* 常に表示 */
    pointer-events: auto;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
  }

  /* サイドメニュー hoverで li 横幅拡張 */
  .side-menu .menu-item {
    width: 25%;
  }

  /* サイドメニュー hoverでラベル表示 */
  .side-menu:hover .menu-item .label {
    opacity: 1;
    transform: translateX(0);
  }

  /* li 初期状態 */
  .menu-item {
    display: block;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    height: auto;
  }

  .menu-item_line {
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
  
  .side-menu li:last-child {
    border-right: none;
  }
  /* li hover背景色 */
  .menu-item:hover {
    background: #F1F1F1;
  }

  /* アイコン */
  .menu-item .icon img {
    display: block;
  /*  margin: 0 10px;*/
    width: 24px;
    height: 24px;
    fill: currentColor;
    text-align: center;
    margin: 0 auto;
  }
  .menu-item .label {
    opacity: 1;
    transform: translateX(0);
    font-size: 0.625rem;
  } 

  /* hover の効果は無効化 */
  .side-menu:hover .menu-item {
    display: block;
  } 
  a[href^="tel:"] {
      cursor: default;
      color: #03122D !important;
      text-decoration: none !important;
  }  
}

/* ページ下部CTA */
.page__cta-container {
  width: 100%;
  background-color: #0C2B4A;
  color: #fff;
  padding: 80px 0;
}

.page__cta-box {
  width: 1200px;
  margin: 0 auto;
}

.page__cta-box h3 {
  text-align: center;
}

.page__cta-box hr {
  width: 600px;
  border: solid 1px #fff;
  margin: 25px auto;
}

.page__cta-box p {
  text-align: center;
}

.page__cta-list {
  width: 1200px;
  margin: 40px auto 0 auto;
}

.page__cta-list ul {
  display: flex;
  gap: 20px;
}

.page__cta-list li {
  list-style-type: none;
}

.page__cta-libox {
  position: relative;
  width: 380px;
  height: 180px;
  background-color: #fff;
  border-radius: 4px;
}

.page__cta-libox:hover {
  background-color: #f4f9ff;
  cursor: pointer;
}

.page__cta-libox::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page__cta-libox.icon-type1::after {
  background-image: url("../img/icon-contact.png");
}

.page__cta-libox.icon-type2::after {
  background-image: url("../img/icon-download.png");
}

.page__cta-libox.icon-type3::after {
  background-image: url("../img/icon-freetest.png");
}

.page__cta-libox::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 20px;
  background-image: url("../img/icon-right_arrow.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 28px;
  display: block;
}

.page__cta-libox span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #0C2B4A;
  font-weight: bold;
  white-space: nowrap;
}

/* ================= スマホ版 ================= */
@media (max-width: 768px) {
  /* ページ下部CTA */
  .page__cta-container {
    width: 100%;
    background-color: #0C2B4A;
    color: #fff;
    padding: 80px 0;
  }

  .page__cta-box {
    width: 90%;
    margin: 0 auto;
  }

  .page__cta-box h3 {
    text-align: center;
  }

  .page__cta-box hr {
    width: 90%;
    border: solid 1px #fff;
    margin: 25px auto;
  }

  .page__cta-box p {
    text-align: center;
    font-size: 0.875rem;
  }

  .page__cta-list {
    width: 80%;
    margin: 40px auto 0 auto;
  }

  .page__cta-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .page__cta-list li {
    list-style-type: none;
  }

  .page__cta-libox {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-radius: 4px;
  }

  .page__cta-libox:hover {
    background-color: #f4f9ff;
    cursor: pointer;
  }

  .page__cta-libox::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .page__cta-libox.icon-type1::after {
    background-image: url("../img/icon-contact.png");
  }

  .page__cta-libox.icon-type2::after {
    background-image: url("../img/icon-download.png");
  }

  .page__cta-libox.icon-type3::after {
    background-image: url("../img/icon-freetest.png");
  }

  .page__cta-libox::before {
    content: "";
    position: absolute;
    top: 45%;
    right: 20px;
    background-image: url("../img/icon-right_arrow.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 28px;
    display: block;
  }

  .page__cta-libox span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #0C2B4A;
    font-weight: bold;
    white-space: nowrap;
  }
}

/* ↓ここは最後消す */
@media (max-width: 768px) {
  .top-header {
    display: none;
  }
}
